<%- include('../partials/header') %>

    <div class="admin-layout">
        <main class="container admin-main">
            <%- body %>
        </main>
    </div>

    <%- include('../partials/footer') %>